.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.popup-content {
    position: relative;
}

.close-button {
    position: relative;;
        width: 50px;
        left: 360px;
        position: absolute;
        color: #ff55a5;
        top: 110px;
}

